*{
    margin: 0;
    padding :0;
    font-family: 'Segoe UI', sans-serif;
}

section{
    margin-top : 75px;
    margin-left: 35%;
    position: relative;
    width: 400px;
    height: 450px;
    /* background-color: rgb(229, 237, 234); */
    background: transparent;
    border: 2px solid #e7a2a280;
    border-radius: 20px;
    backdrop-filter: blur(40px);
}


body{
    text-align: center;
    align-items: center;
    min-height: 85vh;
    width: 100%;
    background: url(bg2.avif)no-repeat;
    background-position: center;
    background-size: cover;
    
}

h1{
    font-size: 30px;
    font-weight: 40px;
    color: rgb(178, 201, 211);
    font-family: 'Times New Roman', Times, serif;
}

input[type = "text"]{
    padding: 2px;
    height: 6%;
    width: 200px;
    border-radius: 5px;
    size: 10px;
}
form{
    height: 40px;
    width: 60%;
    border-radius: 20px;
}
button{
    margin-left: 55%;
    height: 40px;
    width: 50%;
    font-weight: 600;
    border-radius: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    text-align: center;
    border: none;
    outline : none;
    background-color: #b75858;
    color: aliceblue;
}

p{
    color: aliceblue;
    padding-right: 15px;
    font-family: sans-serif;
}
img{
    letter-spacing: 10px;
}
